* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-menu {
    padding-top: 17px;
    padding-bottom: 17px;
    height: 40px;
    width: 65%;
    margin: auto;
    justify-content: space-around;
}

.header-logo, .footer-logo {
    display: inline;
    float: left;
    font: normal 400 26px/26px 'Lora';
    text-decoration: none;
    color: #2E2E2E;
    padding-top: 3px;
}

.header-navigation, .footer-navigation {
    display: inline;
    float: right;
    margin-top: 3px;  
}

.header-navigation{
    margin-top: 10px;
}

.header-navigation-text {
    font: normal 400 11px/20px 'Oxygen';
    height: 20px;
    text-decoration: none;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #2E2E2E;
    margin-left: 20px;
}

.header-context {
    padding-bottom: 20px;
}

.header-text_title {
    font: normal 400 50px/51px 'Lora';
    color: #2E2E2E;
    text-align: center;
    margin-top: 163px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.header-text_description {
	font-family: Oxygen;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
    margin: 0;
    margin-bottom: 31px;
    color: rgba(46, 46, 46, 0.63);
}

.image-after-menu {
    padding-top: 38px;
    width: 100%;
}

.image-after-menu img{
    width: 100%;
    height: 100%;
}

.section-title {
    font: normal 400 20px/27px 'Oxygen';
    letter-spacing: 2px;
    color: #2E2E2E;
    margin-left: 20px;
    margin-right: 20px;
}

.section_background {
    margin: 0;
    height: fit-content;
    background: #F7F7F7;
    border-radius: 0px;
}

.section-box {
    justify-content: center;
}

.section-content {
    padding-top: 140px;
    padding-bottom: 135px;
    width: 67%;
    margin: auto;
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 400;
	line-height: 35px;
	text-align: left;
	color: #101315;
}


.footer {
    text-align: center;
    background: rgba(35, 47, 56, 0.6);
    height: 89px;
	background: url("../Images/footer.png");
    background-position: center center;
	object-fit: cover;
}

.footer-menu {
    padding-top: 28px;
    height: 34px;
    width: 67%;
    margin: auto;
}

.footer-logo {
    color: #FFFFFF;
}

.footer-navigation-text {
    font: normal 400 11px/26px 'Oxygen';
    text-decoration: none;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 20px;
}
